body {
	margin: 5px;
	background-color: #202225;
	color: #DCDDDE;
}

.archiveHeader {
	float: right;
	height: auto;
	width: 100%;
	clear: both;
	background-color: #2F3136;
}

.archiveInfo {
	padding: 0.1em 1em;
	height: max-content;
	width: inherit;
	float: left;
	clear: both;
	color: #F8FFFF;
	background-color: #2F3136;
	border-bottom: 2px solid;
	border-color: #202225;
}

#packChannel, #packTime {
	margin: 1em 1em;
	float: inline-start;
}

#packChannel {
	font-weight: bold;
}

#packCount {
	margin: 1em 1em;
	float: inline-end;
}

.archiveFooter {
	padding: 0.1em 1em;
}

.archiveData {
	clear: both;
	padding: 0.25em 1em;
	margin: 0;
	background-color: #36393F;
	border-bottom: 2px solid;
	border-color: #202225;
}

.discordMessage {
	border-bottom: 2px solid;
	border-color: #202225;
}

#discordMessageAvatar {
	border-radius: 100%;
	float: left;
	height: 3em;
	width: 3em;
	margin: 1em;
}

#discordMessageTop {
	color: #FFFFFF;
	float: initial;
	margin: 0em 1em 2em 1em;
	height: 1.5em;
	width: auto;
}

#discordMessageRightNoU {
	padding-left: 5em;
}

#discordMessageRight {
	min-height: 5em;
	padding-left: 5em;
}

#discordMessageUsername {
	float: inline-start;
}

#discordMessageDate {
	float: inline-end;
}

#discordMessageBottom {
	float: initial;
	margin: 1em 0em;
}

#discordMessageImage {
	max-width: 100%;
	max-height: 30em;
	margin-top: 0.25em;
	text-align: end;
	align-content: center;
	vertical-align: sub;
}

#discordMessageAttachment {
	padding: 1em 1em;

	background-color: #2F3136;
	border-radius: 0.75em;
	border-left: #1E2023;
	border-left-style: outset;
	border-left-width: 0.5em;
	width: max-content;
	max-width: 50%;
}

#discordMessageAttachementText {
	
	vertical-align: text-top;
}

a {
	color: #6c94e4;
}

.emoji {
	height: 1em;
}

.discordMessageEmbed {
	padding: 0.5em 0.5em;

	background-color: #2F3136;
	border-radius: 0.5em;
	border-left: #1E2023;
	border-left-style: outset;
	border-left-width: 0.25em;
	width: max-content;
	max-width: 50%;
}

.embedTitle {
	font-size: 75%;
}